<form [formGroup]="factureForm" (ngSubmit)="onSubmit()">

    <h2>🍽️ Add Facture</h2>


    <label>Numero:</label>
    <input formControlName="numero" />
  
    <label>Montant Totale:</label>
    <input formControlName="montantTotale" type="number" />
  
    <label>Statut Paiement:</label>
    <select formControlName="statutPaiement">
      <option *ngFor="let status of statutOptions" [value]="status">{{ status }}</option>
    </select>
  
    <button type="submit" [disabled]="factureForm.invalid">Add</button>
  </form>
  

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  