/* General reset for body */
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure full height for flexbox */
}

/* Navbar styling */
nav {
  width: 250px; /* Reduce width of navbar to give more space to content */
  padding: 20px;
  position: fixed; /* Keeps the navbar in place */
  height: 100vh; /* Full screen height */
  z-index: 10;
 }

/* Main content styling */
main {
  margin-left: 200px;  /* Adjust margin to match navbar width */
  margin-top: 0; /* Remove top margin */
  padding: 40px; /* Increase padding to make the content breathe */
  flex: 1; /* Ensures the main content fills the remaining space */
  z-index: 5;
  overflow: auto; /* Ensures scroll if content overflows */
   height: 100vh; /* Ensure full height */
}
